@import "tailwindcss";

body {
  background-color: #F5E6D3;
  color: #4A2C2A;
  font-family:  ui-sans-serif, system-ui, sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeInUp 0.8s ease-out forwards;
}



@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.9s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}